p{
	margin-bottom: 0;
}

.loginform-container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 2px solid blue; */
}

.loginform-wrapper{
	height: max-content;
	width: 55%;
	/* padding: 40px; */
	background-color: rgb(247, 141, 30);
	border-radius: 10px;
	padding: 40px;
	padding-bottom: 20px;
	/* border: 1px solid black; */
}

/*Title*/
.loginform-title{
	display: flex;
	justify-content: center;
	margin: 20px ;
	/* border: 1px solid black; */
}

/*Form*/
.loginform-form{
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 10%;
}

.loginform-forgot{
	/* border: 1px solid black; */
	text-align: right;
	padding: 5px 0px;
}

.loginform-forgot Button{
	text-decoration: none;
	padding: 0;
	background-color: transparent;
	border: none;
	color: rgb(51,102,187);
}

.loginform-forgot Button:hover{
	background-color: transparent;
	color : rgb(6,69,173);
}


#loginform-submit{
	background-color: rgb(0, 0, 0);
	border: none;
}

.loginform-register{
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	padding: 5px 0px;
	/* white-space: nowrap; */
	/* border: 1px solid black; */
}

.loginform-register a{
	text-decoration: none;
	color: rgb(51,102,187);
}


.loginform-alert{
	display: flex;
	justify-content: center;
	color: red;
}




#back-button{
	background-color: transparent;
	color: black;
	padding: 0 5px;
	border: none;
}

#back-button:hover{
	text-decoration: underline;
	cursor: pointer;
}

@media only screen and (max-width : 900px){
	.loginform-container{
		height: 65vh;
	}

	.loginform-wrapper{
		width: 60%;
		
	}
	
} 


@media only screen and (max-width : 425px){
	.loginform-wrapper{
		width: 90%;	
	}
	.loginform-register{
		text-align: center;
	}
} 
