.explore{
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/Academy-dark.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.forms{
    margin-top: 2%;
    display: block;
}

.forms-wrapper{
    height: 100%;
}

/*Mobile*/
@media only screen and (max-width : 600px) {
    .explore-info{
        display: none;
    }

}
