.explore{
    width: 100%;
    height: 100vh;
    background-image: url("../../Assets/Academy-dark.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.explore-content{
    width: 100%;
    height: 90vh;
    position: relative;
    /* border: 1px solid blue; */
    text-align: center;
    background-color: transparent;
    
}

.jumbotron {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

/*Jumbotron Content*/
.jumbotron-container{
    margin: 0 10%;
    color: white;
}

.jumbotron-container h1{
    font-weight: bold;
}

/*Masuk ke Academy Button*/
#enter-button{
    background-color: #f69622;
    border: none;
    letter-spacing: none;
    text-transform: none;
    border-radius: 10px;
}

#enter-button:hover{
    text-decoration: none;
}

/*Mobile*/
@media only screen and (max-width : 600px) {
    .explore-info{
        display: none;
    }
}
