.home-container{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

p{
    font-size: 15px;
}


/*mainvrame Logo*/
#mainvrame{
    width: 15%;
}

/*Content Container*/
.home-content{
    /* border: 1px solid blue; */
    margin-top: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Construct image*/

/*img Container*/
.img-content{
    /* border: 1px solid black; */
    position: relative;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#construct{
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.pirrou-container{
    position: absolute;
    left: 40%;
    top: 20%;
    right: auto;
    bottom: auto;
}

#pirrou{
    width: 100%;
}


/*content Container*/
.page-content{
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
}

.page-content h1{
    font-weight: bold;
}

.content-details{
    text-align: justify;
    padding: 0 30px;
}

/*Kunjung Academy button*/
#visit-academy{
    text-transform: none;
    background-color: #f69622;
    border: none;
    border-radius: 10px;
    letter-spacing: normal;
    color: white;
    transition: none;
}

#visit-academy:active{
    transform: scale(0.95);
}

/*Responsive if the width is lower than 900px*/
@media only screen and (max-width: 900px) {
    /*So the construction image and the description are in vertical instead of horizontal*/
    
    .home-content{
        display: block;
    }

    #mainvrame{
        display: none;
    }

    /*adjust the image */
    #construct{
        width: 100%;
    }

    /* .pirrou-container{
        left: 20%;
        top: -10%;
        right: auto;
        bottom: auto;
    } */

    /*adjust the content*/
    .page-content{
        margin-top: 5%;
        /* padding: 0 40px; */
    }

    .page-content h1{
       font-size: 40px;
    }
    
}
/*Mobile*/
@media only screen and (max-width: 600px) {
    .page-content{
        margin-top: 15%;
        /* padding: 0 40px; */
    }

    .info{
        display: none;
    }

}