.emailverification-input {
  --ReactInputVerificationCode-itemWidth: 2.5rem;
  --ReactInputVerificationCode-itemHeight: 3.5rem;
  --ReactInputVerificationCode-itemSpacing: 0.5rem;
  display: flex;
  justify-content: center;
}

.emailverification-input .ReactInputVerificationCode__item {
  position: relative;
  color: #262626;
  font-weight: 500;
}

.emailverification-input .ReactInputVerificationCode__item,
.emailverification-input .ReactInputVerificationCode__item.is-active {
  box-shadow: none;
}

.emailverification-input .ReactInputVerificationCode__item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #ebebeb;
  transition: background-color 0.2s ease-out;
}

.emailverification-input .ReactInputVerificationCode__item.is-active:after {
  background-color: #046cde;
}

@media only screen and (max-width : 425px) {
  .emailverification-input {
    --ReactInputVerificationCode-itemWidth: 2rem;
    --ReactInputVerificationCode-itemSpacing: 1.5rem;
    display: flex;
    justify-content: center;
  }
}