.postsBlog-container{

}

.postsBlog-container-wrapper{
    
}

.postsBlog-title{
    padding: 10px;
    margin-left: 5%;
    /* border: 1px solid black; */
}

.postsBlog-form{
    margin: 0px 5%;
    padding: 0px 10px;
    /* border: 1px solid black; */
}

.postsBlog-form-content{
    margin: 10px 0px;
}

.postsBlog-form-submit{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width : 430px) {
    .postsBlog-title{
        padding: 10px;
    }
    
}