img {
    width: 100%;
    height: 100%;
}

input[type="file"] {
    display: none;
}

.profile-container{
    width: 100%;
    height: 100vh;
}

.profile-wrapper{
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
}

.profile-mobile{
    display: none;
}

.profile-back{
    padding: 10px;
    float: inline-start
}

.profile-omnivr{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    font-family: Cyberverse;
    /* border: 1px solid black; */
}


.profile-omnivr span{
    color: rgb(247, 141, 30);
}

/*Profile Pic*/
.profile-pic{
    position: relative;
    display: block;
    height: 35%;
    /* border: 1px solid black; */
}

/*Banner Image*/
.profile-image{
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    height: 65%;
    width: 100%;
    background-color: rgb(211,211,211, 0.7);   
    overflow: hidden;
    /* border: 1px solid red; */
}
.profile-image img{
    width: 100vw;
    height: 100%;
    object-fit: contain;
}

.banner-upload-submit{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 5px 0;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    z-index: 5;
}

.banner-upload-submit:hover{
    cursor: pointer;
}

.profile-avatar-wrapper{
    position: absolute;
    bottom: 0;
    display: flex;
    height: 60%;
    width: 100%;
    /* border: 1px solid blue; */
}

.profile-avatar-image{
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* padding-left: 5%; */
    /* border: 1px solid black; */
}

.custom-avatar-form{
    /* border: 1px solid black; */
    height: 100%;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.custom-avatar-upload {
    height: 100%;
    width: 50%;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    border: 1px solid black;
    /* background: linear-gradient(270deg, #3fa1a9, #79f1a4); */
}

.avatar-wrap{
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 50%;
    /* border: 1px solid blue; */
}

.avatar-upload{
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .5s ease;
    background-color: rgb(128,128,128, 0.3);
}

.avatar-wrap:hover .avatar-upload{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.profile-content-mobile{
    display: none;
}

  
/* Content */
.profile-content{
    position: absolute;
    right: 0;
    width: 80%;
    top: 40%;
    padding-left: 10px;
    /* border: 1px solid black; */
}


.profile-currency{
    display: flex;
    align-items: center;
    height: 30px;
}

.profile-currency p{
    margin: 0;
    margin-right: 10px;
}

#topup-button{
    padding: 1px 5px;
    margin-right: 5px;
}

/* Profile Tabs */
.profile-choice{
    display: flex;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.profile-details{
    flex: 1;
}

.profile-friends{
    flex: 1;
}

.profile-name{
    display: flex;
}

@media only screen and (max-width : 900px){
    .profile-avatar-image{
        width: 30%;
    }
    
    .custom-avatar-upload{
        width: 70%;
    }

    .custom-avatar-form{
        width: 70%;
    }

    .profile-content{
        width: 70%;
    }

}

/*Mobile*/
@media only screen and (max-width: 430px) {
    .profile-mobile{
        display: flex;  
    }

    /*Profile Image*/
    .profile-pic{
        height: 25%;
    }

    .profile-image{
        position: absolute;
        top: 0;
        height: 70%; 
    }

    .banner-upload-submit{
        margin: 0;
        border: none;
        background-color: transparent;
    }

    .profile-avatar-wrapper{
        display: flex;
        position: absolute;
        justify-content: center;
        bottom: 0;
        height: 61%;
        width: 100%;
        overflow: hidden;
        /* border: 1px solid black; */
    }

    .profile-avatar-image{
        width: 50%;
        margin: 0;
        display: contents;
        /* border: 1px solid black; */
    }

    
    .custom-avatar-form{
        width: 25%;
    }

    .custom-avatar-upload{
        width: 25%;
    }
 

    /* Profile Content */

    .profile-content{
        display: none;
    }

    .profile-content-mobile{
        display: contents;
        margin-top: 10px;
        width: 100%;
        /* border: 1px solid black; */
    }
    
    .profile-name-mobile{
        display: flex;
        justify-content: center;
    }
    

    .profile-currency-mobile{
        display: flex;
        justify-content: right;
        align-items: center;
        height: 30px;
        padding-right: 10px;
        /* border: 1px solid black; */
    }

    .profile-currency-mobile p{
        margin: 0;
        margin-right: 10px;
    }

    #topup-button{
        padding: 1px 5px;
        margin-right: 5px;
    }

  
    /*Profile List*/
    .profile-list{
        width: 100%;
    }
    
    .profile-list-container{
        margin: 10px 10px;
    }
    
    .profiledetails-username, .profiledetails-email{
        display: flex;
        align-items: center;
        /* border: 1px solid black; */
    }

    .profiledetails-email, .profiledetails-phone{
        margin-top: 10px;
    }

}

@media only screen and (max-width : 320px){
    .custom-avatar-upload{
        width: 30%;
    }

    .custom-avatar-form{
        width: 30%;
    }


}

@font-face {
    font-family: "Cyberverse";
    src: url('../Assets/Cyberverse/Cyberverse.otf');
}