a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.reset-container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.reset-wrapper{
    width: 40%;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 10px;
}

.reset-title{
    padding: 5%;
    text-align: center;
}

.reset-alert{
    margin: 10px 30px;
}

.reset-content{
    padding: 15px 30px;
    /* border: 1px solid black; */
}

.reset-password{

    /* border: 1px solid black; */
}

.reset-confirm-password{
    margin-top: 10px;
}

.reset-submit{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.reset-submit Button{
    background-color: rgb(247, 141, 30);
    padding: 3%;
    font-family: Cyberverse-bold;
    border-radius: 10px;
}

.reset-submit Button:hover{
    background-color: black;
    color: rgb(247, 141, 30);
}

.reset-back{
    padding: 15px 30px;
    /* border: 1px solid black; */
    
}

@media only screen and (max-width : 900px){
    .reset-wrapper{
        width: 70%;
    }
}

@media only screen and (max-width : 425px){
    .reset-wrapper{
        width: 100%;
        margin-top: 0;
        border: none;
    }
    .reset-alert{
        margin: 0;
        margin-bottom : 10px;
    }

    .reset-content{
        padding: 0;
        /* border: 1px solid black; */   
    }

    .reset-back{
        margin-top: 20px;
        padding: 0;
    }

}


@font-face {
    font-family: 'Cyberverse-bold';
    src: url('../Assets/Cyberverse/Cyberverse\ Bold.otf');
}